
$primary-bg: #252525;
.navbar {
    width: 100%;
    height: 70px;
    outline: 2px solid green;
    background-color: $primary-bg;
    position: sticky;
    display: flex;
    flex-direction: column;
    box-shadow: #26B68B 0px 5px 15px;

    .nav-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70px;
        outline: 2px solid blue;

    .logo {
        width: 70px;
        height: 70px;
        // outline: 2px solid pink;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .hamburger-wrapper {
       
        width: 100%;
        // outline: 2px solid purple;
        margin-inline: 10px;
        display: flex;
        align-items: center;
        justify-content: end;

    .hamburger-nav {
        width: 50px;
        height: 50px;
        // outline: 2px solid pink;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float: right;

        

        .bar {
            width: 30px;
            height:4px; 
            background-color: #26B68B;
            border-radius: 10px;
            margin-block: 3px;
            transition: all 0.4s ease-in-out;
            z-index: -1;
        }

     
    }
}
}

.hamburger-menu {

    a {
        color: #26B68B;
    }
    
    li {
        list-style: none;
    }
    
}

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
        align-items: center;
        
        a {
            color: #26B68B;
            font-family:"Iner", sans-serif;
            font-weight: 700;
            font-style: Bold;
        }
        
        li {
            float: left;
            list-style: none;padding-inline: 2em;
        }
    }

}


//mobile first 

//mobile screen portrait 
@media screen and (max-device-width: 480px) and (orientation: portrait) {

        .navbar .nav-header .nav-links  {
            display: none;
        }

        .navbar .hamburger-wrapper .hamburger-nav.isActive .bar:nth-child(2) {
            opacity: 0;
        }
        .navbar .hamburger-wrapper .hamburger-nav.isActive .bar:nth-child(1) {
            transform: translateY(10px) rotate(45deg);
        }
        .navbar .hamburger-wrapper .hamburger-nav.isActive .bar:nth-child(3) {
            transform: translateY(-10px) rotate(-45deg);
        }
    

}

@media only screen and (min-device-width: 480px) {

    .navbar .nav-header .hamburger-wrapper {
        display: none;
    }

}